@charset "utf-8";

/* -----------------------------------------------------------------------------

Table of Contents

* Element
* Class

----------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* ---[ Element ]------------------------------------------------------------ */
/* -------------------------------------------------------------------------- */

body {
  font-family: inherit;
  font-size: 1em;
}

table {
  font-size: 1em;
}

th {
  font-weight: bold;
}

hr {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 0;
  border-top: 0.1em solid rgba(0, 0, 0, 0.1);
}

/* -------------------------------------------------------------------------- */
/* ---[ Class ]-------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.loader {
  height: 100%;
}

.loader img {
  margin: 0;
  position: relative;
  top: 50%;
  left: 45%;
  width: 3.5em;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* -------------------------------------------------------------------------- */
